.carousel-image img {
  filter: grayscale(15%) brightness(40%);
}

@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: small;
  }

  .carousel-caption p {
    font-size: 7px;
  }
}
/* Card bg color */
.card-bg {
  background-color: #e7f6fe;
}

.dark-carousel-control-next-icon {
  color: black;
}
